@import "~bootstrap/scss/bootstrap.scss";
@import "./components/Container";
@import "./components/TrafficBox";
@import "./components/TrafficTop";
@import "./components/TrafficBottom";
@import "./components/Lights";


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}